
.mySwiper{	 	
	padding: 1rem 5rem;  
}
.title-Swiper{	
	display: flex;
	justify-content: center;
    font-family:'Courier New', Courier, monospace;
	margin: auto;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.container-swiper{	
	margin: 0rem 2rem ;
	background-color: rgb(245, 242, 242); 
}
.container-swiper .hr-swiper{
	margin: auto;
    height: 3px;
    width: 50%;
    background-color: black;
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
	.mySwiper{
		width: 100%;	 	
		padding: 0;  
	}
}